body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.homepagetxt {
  background: transparent;
  position: fixed;
  margin-left: 3%;
  margin-right: 50%;
  /* Updated to place the button on the top right side */
  z-index: 1000;
  color: white;
  font-size: 60px;
  font-family: cursive;
  font-weight: bolder;
  border-bottom: 3px solid red;
  padding-top: 10px;
}
.homepagetxt2 {
  font-size: 25px;
  background: transparent;
  position: fixed;
  margin-left: 3%;
  margin-right: 50%;
  margin-top: 4%; /* Updated to place the button on the top right side */
  z-index: 1000;
  color: white;
  font-size: 40px;
  font-family: Billabong;

  padding-top: 4px;
  border-bottom: 3px solid red;
}
/* Button style */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background: transparent;
  position: fixed;
  top: 20px;
  right: 20px; /* Updated to place the button on the top right side */
  z-index: 1000;
  margin-right: 10px;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 15px;
}

/* Sidebar style */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0; /* Adjusted to position the sidebar on the right side */
  background-color: gray;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Dropdown menu style */
/* Tooltip style */
/* Tooltip style */
.tooltip-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1001;
  margin-top: 10px;
  margin-top: 15px;
}

.tooltip-content a {
  display: block;
  text-decoration: none;
  color: #000;
}

.tooltip-content a:hover {
  color: green;
}
.btn {
  width: 100%;
  height: 45px;
  font-size: 18px;
}

.card-title {
  color: #000;
  border-left: 5px solid rgb(255, 15, 15);
  padding-left: 6px;
  font-weight: bold;
}
