.homepagetxt{
    background: transparent;
    color: white;
   font-size: 30px;
    font-family: cursive;
    font-weight: bolder;
    border-bottom: 3px solid red;
    
    transform: translateX(-50%);
}
.card {
    position: relative;
    padding: 20px;
    width: 70%;
}
.card .btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: red;
    border: 1px solid red;
    padding: 8px 25px;
    font-size: 17px;
}
.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}

.btn1 {
border: 3px solid #5334db;
margin-top: 10px;
margin-left: 550px;
background-color: white;
padding: 6px 15px;
border-radius: 8px;
font-size: 19px;
font-weight: bold;
cursor: pointer;
}


.upload-btn-wrapper input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
cursor: pointer;
}

/* Style the uploaded file name */
.file-name {
margin-left: 10px;
}